body {
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: black;
    color: white;

    box-sizing: border-box;

    font-family: 'Tiny5', sans-serif;
    text-align: center;
}

.header {
    padding: 0 256px;

    display: flex;
    flex-grow: 0;
    justify-content: center;

    /* border: solid red; */
}

.title {
    margin: 4px 0px;
    padding-bottom: 8px;

    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 48px;
    text-align: center;
    /* border: solid white; */
}

.navbar {
    padding: 0 216px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* border: solid red; */
}

.time-change {
    max-width: 600px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    column-gap: 12px;
    padding: 0 12px;

    /* border: solid white; */
}

.effect {
    display: flex;
    flex-direction: column;

    gap: 12px;

    /* border: solid white; */
}

button {
    border-style: none;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px white;

    
    padding: 2px 32px;
    font-family: 'Tiny5', sans-serif;
    text-align: center;
    letter-spacing: 2px;

    transition: all .5s;
}

button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 2px white;
}

.section {
    padding: 0 216px;
    gap: 56px;

    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: solid red; */
}

.slider-clock {
    width: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    rotate: 270deg;
   
    /* border: solid white; */
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    width: 600px;
    height: 20px;

    background: black;
    outline: solid white;
    border-radius: 10px;

    flex-shrink: 0;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;

    background: white;
    border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    opacity: 1;
    background-color: black;
    border: solid white;
}

.clock {
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    /* border: solid white; */
}

.time-date {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    /* border: solid white; */
}

.time,
.date {
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 24px;
    visibility: visible;
}

.clock-face {
    flex: 0 0 1;
    box-shadow: 0 0 24px 2px whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.hand {
    position: absolute;
    background-image: linear-gradient(90deg, black 45%, white 65%);
    transform: rotate(180deg);
    transition: all .3s;
    transform-origin: center;
    transition-timing-function: cubic-bezier(0, 2.31, 1, 0.74);
    color: red;
}

.hour-hand {
    height: 14px;
    width: 240px;
}

.minute-hand {
    height: 8px;
    width: 360px;
}

.second-hand {
    height: 4px;
    width: 380px;
}